**/__pycache__
cork/cork_bin
cork/cork
mcut/CSGBoolean
mcut/mcut
InteractiveAndRobustMeshBooleans/exec_IRMB
InteractiveAndRobustMeshBooleans/InteractiveAndRobustMeshBooleans
libigl/exec_libigl
libigl/libigl
cgal/exec_cgal
cgal/cgal
*_ui.py
*.swp
*.swo
**/*.swp
**/*.swo
build
**/logs.txt
